:root{
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    background-color: var(--Cream);
}
.container{
    margin-right:1rem;
    margin-left: 1rem;
    width:90%;
    margin-top: 4rem;
}
.my-balance{
    background-color: var(--Soft-red);
    border-radius: 0.6rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.b-text{
    color: var(--Cream);
}
.b-text h4{
    font-weight: 100;
    margin-bottom: 5px;
}
.card{
    background-color: var(--Very-pale-orange);
    border-radius: 0.6rem;
    padding: 1.5rem;
}
.card h3{
    margin-bottom: 3.5rem;
}
.chart{
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 35px 35px 35px;
    column-gap: 8px;
    align-items: end;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--Cream);
    padding-bottom: 2rem;
}
.chart > div{
    text-align: center;
}
.char{
    background-color: var(--Soft-red);
    height: 50px;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    position: relative;
}
.char:hover{
    background-color: hsl(10, 87%, 78%) ;
}
.box{
    position: absolute;
    top: -48px;
    background-color: var(--Dark-brown);
    padding: 4px;
    color: var(--Very-pale-orange);
    border-radius: 4px;
    left: -16px;
    z-index:99;
    display: none;
}
.chart h5{
    color: var(--Medium-brown);
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.active{
    background-color: var(--Cyan);
}
.active:hover{
    background-color: hsl(186, 43%, 81%) !important;
}
.this-month h5{
    color: var(--Medium-brown);
    margin-bottom: 10px;
    font-weight: 100;
}
.this-month h2{
    color: var(--Dark-brown);
}
.last-month{
    text-align: end;
}
.last-month h4{
    font-size: 15px;
    color: var(--Medium-brown);
    font-weight: 100;
}

@media(min-width:600px){
    .container{
        width: 404px;
        margin-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .my-balance{
        padding: 0.7rem;
        align-items: center;
    }
    .b-text h4{
        font-size: 13px;
    }
    .b-text h2{
        font-size: 20px;
    }
    .my-balance img{
        height: 33px;
    }
    .chart{
        gap: 18px;
    }
}